h1 {
    text-align: center;
}
.railway-station-table {
 margin:0 auto;

   
}

.railway-station-table td {
    background-color: lightcyan;
}
.railway-station-table th {
    border:1px solid grey;
    
    padding: 1em;
    background-color:lightsteelblue;
}

.railway-station-table-column-head td {
    border:1px solid grey;
    padding: 1em;
}

.railway-station-table-head th,.railway-station-table-body td{
    width: 150px;
}

