.railway-maintenance {
    display:block;
    margin:0 auto;
    text-align:center; 
    
    padding:auto;
}
.railway-maintenance table {
    margin: 0 auto;
    text-align:center; background:#ddd;
    border-collapse: collapse;
}
.railway-maintenance table, .railway-maintenance th, .railway-maintenance td {
    border: 1px solid #666;
  }
.railway-maintenance th, .railway-maintenance td {
    padding:8px;
}
.railway-maintenance th {
    background:#ccc; 
    font-weight:bold;
}
.railway-maintenance td {
    background:#eee; 
    font-weight:normal;
}
.unit-length {
    margin-left:4px;
    color:#999;
}
.railway-maintenance .changed-row {border-left:4px solid lightseagreen;}
.railway-maintenance .changed-row td {/*background:#fcc !important;*/ }
.railway-maintenance .col-hasChanges {/*display:none;*/}
td.col-length, td.col-id {text-align:right;}
td.col-name, td.col-stationname, td.col-company {text-align:left; }