body {
  overflow-y: scroll;
  padding: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.railway-header {
  text-align: center;
}
.railway-menu {
  display: block;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}
.railway-menu a,
.railway-menu a:link,
.railway-menu a:visited,
.railway-menu a:hover,
.railway-menu a:active {
  display: inline-block;
  border: 1px solid black;
  background-color: #999;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.railway-menu a:hover {
  background-color: #ccc;
  color: black;
}
.railway-menu a:focus {
  outline: none;
}
